name: Deploy Admin-Node-Manager

env:
  dockerRegistry: ghcr.io
  dockerRepository: cwiechmann/axway-api-management-automated
  baseImage: "base:77-20220228-1"
  outImage: "anm:77-20220228-1"

on:
  push:
    branches:
      - main
    paths:
      - gateway-config/anm/**
  pull_request:
    branches:
      - main
    paths:
      - gateway-config/anm/**
  release:
    types:
      - published

defaults:
  run:
    working-directory: gateway-config

jobs:
  create-apimr-docker-image:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Create & Push ANM Image
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/debug-action@v2
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.dockerRegistry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull base image
        run: docker pull ${{ env.dockerRegistry }}/${{ env.dockerRepository }}/${{ env.baseImage }}
      - name: Create image tag
        run: echo "IMAGE_TAG=$(echo $GITHUB_SHA | head -c7)" >> $GITHUB_ENV
      - name: Create FED-File
        run: |
          sed -i 's/^Id:\s.*$/Id: fed/' anm/fed/meta-inf/manifest.mf
          jar cvfm anm.fed anm/fed/meta-inf/manifest.mf -C anm fed
          jar tvf anm.fed
      - name: Build ANM image
        run: |
          tar xvfz apigw-emt-scripts-2.4.0-20220222.150412-10.tar.gz
          echo "${{ secrets.APIGATEWAY_LICENSE }}" | base64 -d > license.lic
          ./apigw-emt-scripts-2.4.0-SNAPSHOT/build_anm_image.py --license=license.lic --default-cert --fed=anm.fed --metrics --merge-dir anm/merge-dir/apigateway --parent-image=${{ env.dockerRegistry }}/${{ env.dockerRepository }}/${{ env.baseImage }} --out-image=${{ env.dockerRegistry }}/${{ env.dockerRepository }}/${{ env.outImage }}-${{ env.IMAGE_TAG }}
      - name: Push image
        run: |
          docker push ${{ env.dockerRegistry }}/${{ env.dockerRepository }}/${{ env.outImage }}-${{ env.IMAGE_TAG }}
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1
      - name: Deploy to Kubernetes
        run: |
          mkdir  $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 -d > $HOME/.kube/config
          kubectl set image -n apim deployment/axway-apim-anm axway-apim-anm=${{ env.dockerRegistry }}/${{ env.dockerRepository }}/${{ env.outImage }}-${{ env.IMAGE_TAG }}
      - name: Verify ANM deployment
        run: kubectl -n apim rollout status deployment/axway-apim-anm
